/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 5, 2021, 8:44:29 AM
    Author     : joha
*/

a{
    color: black;
    font-family: Verdana;
    
}
.navbar{
  margin: 5px;
  background-color:  #f0c164   ;
  border: 1px solid black;
  opacity: 0.7;
}

.card{
    opacity: 0.7;
}